.dijitCalendarDateTemplateHijri {
	border: 1px solid #e7ded0;
}

.dijitCalendarHeaderHijri .dijitCalendarMonthLabel {
	color: #b3a171 !important;
}

.dijitCalendarPreviousMonth .dijitCalendarDateLabelHijrin,.dijitCalendarNextMonth .dijitCalendarDateLabelHijrin
	{
	color: #9b9478;
}

.dijitCalendarCurrentMonth .dijitCalendarDateLabelHijrin {
	color: #b3a171;
}

.dijitCalendarDateLabelHijrin {
	display: block !important;
}

.dijitCalendarDateLabelHijrin {
	margin-left: 8px;
}

.dijitCalendarCurrentDate .dijitCalendarDateLabelGregorian,.dijitCalendarCurrentDate .dijitCalendarDateLabelHijrin
	{
	text-decoration: underline !important;
}

.dijitCalendarPreviousMonthHijrin,.dijitCalendarNextMonthHijrin {
	background-color: #F8F8F8;
	color: #999999;
}

.dijitCalendarCurrentMonthHijrin {
	background-color: white;
}

.dijitCalendarShowLabel .dijiCalendarshowGregorian,.dijitCalendarShowLabel .dijiCalendarshowHijri
	{
	cursor: pointer;
	font-size: 0.909em !important;
	line-height: 20px;
	padding-right: 3px;
}

.dijitCalendarShowLabel .dijiCalendarshowHijri {
	color: #b3a171 !important;
}

.dijitCalendarShowLabel .dijiCalendarshowGregorian input,.dijitCalendarShowLabel .dijiCalendarshowHijri input
	{
	vertical-align: bottom;
}

.dijitCalendarShowContainer {
	vertical-align: middle;
}

.dijitCalendarShowLabel {
	padding: 2px 0 0 0;
	margin: 0;
	font-size: 0.909em !important;
	white-space: nowrap;
}

.dijitCalendarShowContainer .dijitCalendarShowLabel .dijitCalendarSelectedYear
	{
	font-weight: bold;
}

.dijitCalendarShowLabel .dijiCalendarshowGregorian:hover,.dijitCalendarShowLabel .dijiCalendarshowHijri:hover
	{
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}